<% user = message.user %>

<div class="message-wrapper-<%=message.user.id%>">
  <div class="message-box message-<%= message.user.id %>">
    <div class="d-flex">
      <div class="avatar avatar__small">
        <%= image_tag user.display_avatar %>
      </div>

      <div class="body">
        <h6 class="name"> <%= user.email %></h6>
        <p class="content"><%= message.body %></p>
        <p class="time"><%= message.display_time %></p>
      </div>
    </div>
  </div>
</div>
