<% user = message.user %>

<div class="message-wrapper-<%=message.user.id%>">
  <div class="message-box message-<%= message.user.id %>">
    <div class="d-flex">
      <div class="avatar">
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar %>
        <% else %>
          <%= image_tag 'avatar.svg' %>
        <% end %>
      </div>

      <div class="body">
        <h6 class="name"> <%= user.email %></h6>
        <p class="content"><%= message.body %></p>
        <p class="time"><%= message.created_at.strftime('%H:%M') %></p>
      </div>
    </div>
  </div>
</div>
