<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive = 'active' %>
<% else %>
  <% isActive = '' %>
<% end %>

<li class="list-group-item d-flex align-items-center justify-content-between <%= isActive %>">
  <div class="user">
    <div class="avatar avatar__small">
      <%= link_to image_tag(user.display_avatar), direct_message_path(user), data: { turbo: "false" } %>
      <%= turbo_stream_from "user_status" %>

      <div class="icon-status">
        <%= render "users/status", user: user %>
      </div>
    </div>

    <%= link_to user.email, direct_message_path(user), data: { turbo: "false" } %>
  </div>
</li>
