<%= turbo_frame_tag "appearance_channel" %>
<div id="appearance_channel"></div>

<div class="chatroom_container row bg-white mt-3">
  <%= render 'shared/side_panel', users: @users, rooms: @rooms %>

  <div class="room_container col-sm-8 col-md-8 col-lg-8 p-0">
    <% if @single_room %>
      <div id="single_room">
        <div class="header bg-light">
          <div class="d-flex">
            <div class="info">
              <h4 class="m-0"><%= @user&.email || @single_room.name %></h4>
            </div>
          </div>
        </div>

        <%= turbo_stream_from @single_room %>
        <div id="messages" data-controller="scroll">
          <%= render @messages %>
        </div>
          <%= render 'messages/new_message_form' %>
      </div>
    <% else %>
      <div class="room-icon text-center">
        <i class="fa fa-weixin"></i>
      </div>
    <% end %>
  </div>
</div>
