<!DOCTYPE html>
<html>
  <head>
    <title>Chatty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
    <% if current_user %>
      <%= ".message-#{current_user.id}" %> {
        text-align: right;
      }

      <%= ".message-#{current_user.id}" %> .message__body {
        background-color: #2e59d9;
        color: white;
      }
    <% end %>
  </style>

  <body>
    <% content_for :alert do %>
      <%= render 'shared/flashes' %>
    <% end %>

    <% if current_user %>
      <%= render 'shared/navbar' %>

      <div class="container-fluid">
        <div class="row h-100">
          <main role="main" class="col-12 px-4 bg-secondary">
            <div class="row">
              <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <%= yield :alert %>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <%= yield %>
              </div>
            </div>
          </main>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>

  <script src="https://use.fontawesome.com/74c965c3f8.js"></script>
</html>
