<!DOCTYPE html>
<html>
  <head>
    <title>Chatty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
    <% if current_user %>
      <%= ".message-#{current_user.id}" %> {
        margin: 2px 10px;
        text-align: right;
      }

      <%= ".message-#{current_user.id}" %> > .d-flex {
        justify-content: flex-end;
      }

      <%= ".message-#{current_user.id}" %> > .d-flex > .avatar {
        margin-left: 5px;
        order: 1;
      }

      <%= ".message-#{current_user&.id}" %> > .d-flex > .body {
        background-color: #2e59d9;
        color: white;
        margin-left: 0;
      }

      <%= ".message-#{current_user&.id}" %> > .d-flex > .body > .time {
        text-align: left;
      }

      <%= ".message-#{current_user&.id}" %> > .d-flex > .body > .name {
        color: white;
        opacity: 80%;
      }

      <%= ".message-wrapper-#{current_user&.id}" %> {
        display: flex;
        justify-content: flex-end
      }
    <% end %>
  </style>

  <body class="<%= current_user ? 'bg-secondary' : '' %>">
    <% content_for :alert do %>
      <%= render 'shared/flashes' %>
    <% end %>

    <% if current_user %>
      <%= render 'shared/navbar' %>

      <div class="container-fluid h-auto">
        <div class="row">
          <main role="main" class="col-12 px-4">
            <div class="row">
              <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <%= yield :alert %>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <%= yield %>
              </div>
            </div>
          </main>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>

  <script src="https://use.fontawesome.com/74c965c3f8.js"></script>
</html>
